section {
   padding: 235px 100px;
}

.hero .hero-content { 
    display: flex;
    flex-direction: column;;
    text-align: center;
    max-width: 650px;
    height: 75vh;
    margin:  0 auto;

   & p {
      width: 510px;
      margin: 32px auto 0;
      
    }
}


.hero :last-child {

   & p + div  {
      display: flex;
      justify-content: space-between;
      
      & :first-child {
         transform: rotate(85deg);
      }
      & :last-child {
         transform: rotate(340deg);
      }
   }

   & p{
      font: var(--subtitle);
      opacity: 50%;
   }
   
   & span {
      font-weight: bolder;
   }
   
   & img {
     transform: rotate(25deg);
      height: 80px;
      
 }
}

.kit-title {
   & div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 8px;
   }

   & p {
      font: var(--bd-md)
   }

}


.kit {
   position: relative;

   & img {
      height: auto;
   }
   
   & .pin {
     width: 222px;
     transform: rotate(350deg);
     position: absolute;
   }

   & .book {
      width: 470px;
      position: absolute;
   }
   
   & .bookmark {
      width: 172px;
   }

}

.cards {
   display: flex;
   justify-content: center;
}