footer {
    display: flex;
    padding-block: 24px;
    gap: 24px;
    font: 14px/150% var(--font-family);
}

footer span:nth-child(1) {
    margin-right: auto;
}

@media (width <= 360px) {
  footer {
    flex-wrap: wrap;
    text-align: center;
  }
    footer :first-child {
    
    flex: 1 0 100%
  }
}