#bg-fixed {
    background: no-repeat center / cover url(../assets/Background.png);
    
    height: 100vh;
    
    max-width: 40%;
    min-width: 400px;

    padding: 32px;
    

    
    & img {
        width: 48px;
        margin-bottom: 16px;
    }

    & p {
        font: var(--font-body-md);
        margin-top: 5px;
    }

}

